{{controllerClass 'selected' (concat identifier '--is-selected')}}
<label
        class="{{identifier}}__label"
>
    <input
            id="input"
            class="{{identifier}}__input"
            type="radio"
            name="{{name}}"
            value="{{value}}"
            {{#if checked}}checked{{/if}}
            data-action="input->{{identifier}}#select deselect->{{identifier}}#deselect"
    >
</label>
