{{controllerClass 'selected' (concat controller '--is-selected')}}
<label
        class="{{controller}}__label"
>
    <input
            id="input"
            class="{{controller}}__input"
            type="radio"
            name="{{name}}"
            value="{{value}}"
            {{#if (controllerValue 'checked')}}checked{{/if}}
            data-action="input->{{controller}}#select deselect->{{controller}}#deselect"
            data-{{controller}}-selected-class="{{controller}}--is-selected"
    >
</label>
